* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(68, 68, 68);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#top-wrapper{

}

#main-body {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}
#footer-main{
    height: 80px;
    display: grid;
    grid-template-columns: 5fr 1fr ;
}

#footer-left {
    display: flex;
    align-items: baseline;
    justify-content: left;
    background-color: antiquewhite;
}

#footer-right {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-label{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.logo-text{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}