* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    color: rgb(137, 137, 137);
}

body {
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows:  2fr 3fr 1fr;
}

#main-body {
    grid-row: 2 / 2;
    height: 500px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 150px;
    padding: 0px 100px;
    gap: 20px;
}

#body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */
#footer{
    grid-row: 3 / 3;
    height: 100px;
    margin: 0 15%;
}
#hr {
    height: 1px;
    width: 100%;
    background-color: rgb(75, 75, 75);
}

#footer-main{
    height: 80px;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 5fr 1fr ;
    grid-template-rows: 1fr;
}

#footer-left {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding-top: 10px;
}

#footer-right {
    height: 100px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer-label{
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.logo-text{
    font-size: 20px;
    color: rgb(255, 255, 255);
}


/* End Footer */
/* Instagram Grid */
#instagram-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    width:300px;
}

.instagram-container {
    width: 150px;
    height: 150px;
}

.instagram-container img {
    width: 100%;
    height: 100%;
}

/* Contact section */
.icon {
    height: 20px;
}

#contact-section{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
}

#contact-section label {
    font-size: 17px;
    height: 30px;
    color: rgb(255, 255, 255);
}

.b-title{
    font-size: 22px;
    color: rgb(255, 255, 255);
}

#tweets li{
	margin: 0;
	padding: 0px 10px 0px 40px;
    line-height: 25px;
	list-style: none;
	background-image: url("./images/twitter.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18px;
}

#email-input-cont {
    width: 300px;
    height: 40px;
    border-radius: 35px;
    background-color: rgb(68, 68, 68);
    padding-left: 15px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#email-input-cont input {
    width: 150px;
    height: 100%;
    font-size: 14px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
}

#send-btn{
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 35px;
    border: 0px solid rgb(255, 255, 255);
    background-color: orange;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#send-btn:hover{
    background-color: rgb(255, 255, 255);
    color: orange;
}